<!DOCTYPE html>
<html>
<head>
 <title>Contact</title>
 <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="site">
 <div class="header">
 <h1>Beer profiles</h1>
 </div>
 <div class="menu">
 <ul>
   <li><a href="index.html">Home</a></li>
   <li><a href="order.html"><u>Contact</u></a></li>
   <li><a href="beerprofiles.html">Profile</a></li>
 </ul>
</div>
<div class="rightbar">
</div>
<div class="topcontent">
<h2>Order</h2>
<br/>
</div>
<div class="bottemcontent">
</div>
<div class="footer">
 &#169; Copyright 2015
</div>
</div>
</body>
</html> 
